---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About the project";

const identity = {
  firstName: 'Oleksandr',
  country: 'Ukraine',
  hobbies: ["sci-fI", "music", "walking"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];

const happy = true;
const finished = false;

const styles = {
  skillColor: 'navy',
  fontWeight: 'bold',
  // textCase: 
};
---

<BaseLayout title={pageTitle}>
  <style is:global define:vars={{ skillColor: styles.skillColor, fontWeight: styles.fontWeight }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: uppercase
    }
  </style>
  <p>This is tutorial blog project build with Astro and deployed on Netlify</p>
  <a href="https://frolicking-entremet-bf864d.netlify.app/">Check it here.</a>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>I live in {identity.country}.</li>
    {identity.hobbies.length >=2 &&
      <li>Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}.</li>
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map(skill => <li class="skill">{skill}</li>)}
  </ul>
  {happy && <p>I am happy to be learning Astro!</p>}
  {finished && <p>I finished this tutorial!</p>}
</BaseLayout>
